#hex {
    color: #c819cf
    
}

#rgb {
    color: rgb(200,25,207)
    
}

#shadowBox {
    background-image: url("background2.png");
    background-position: center;
    text-align: center;
    font-size: 50;
    height: 150px;
    font-style: oblique;
    -webkit-text-stroke: 1px black;
    font-family: arial; color: green;
    
    
    
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

body {
    margin:0;
    
    
    
}